{{ $rels := slice }}
{{ $prefix := .Scratch.Get "relsPrefix" }}
{{ $mode := .Scratch.Get "relsMode" }}

{{ if isset .Params "rels" }}
  {{ range .Params.rels -}}
    {{ if hasPrefix . $prefix }}
      {{ with $.Site.GetPage (replace . "." "/") }}
        {{ $rels = $rels | append . }}
      {{ end }}
    {{ end }}
  {{- end }}

  {{ if eq $mode "single" }}
    {{ .Scratch.Set "rels" (index $rels 0) }}
  {{ else }}
    {{ .Scratch.Set "rels" $rels }}
  {{ end }}
{{ end }}

{{ .Scratch.Delete "relsPrefix" }}
{{ .Scratch.Delete "relsMode" }}

