{{ define "head-scripts" }}
  {{ .Scratch.Set "jsSrc" "js/search.js" }}
  {{ $script := partial "build-js.tmpl" . }}
  <script defer src="{{ $script.Permalink }}"></script>
{{ end }}

{{ define "article/content/before" }}
  <section class="search-form">
    <form id="search-box">
      <input type="search" name="q" placeholder="{{ .Title }}..." required=""/>
      <span class="loader"></span>
    </form>
  </section>
{{ end }}

{{ define "article/content/after" }}
  <section class="search-results">
    <ul id="search-results"></ul>
  </section>
{{ end }}

