{{ define "article/content/after" }}
  <section class="page-list">
    {{ $pages := slice }}

    {{ if in (slice "taxonomy" "term") .Kind }}
      {{ $pages = sort .Pages (.Params.sortBy | default "Title") }}
    {{ else if eq .Params.paginate true }}
      {{ $pages = .Paginator.Pages }}
    {{ else }}
      {{ $pages = .Pages }}
    {{ end }}

    {{ if gt (len $pages) 0 }}
      {{ if eq .Params.paginate true }}
        {{ partial "page/pagination.tmpl" . }}
      {{ end }}

      <ul>
        {{ range $pages }}
          <li>{{ partial "page/card.tmpl" . }}</li>
        {{ end }}
      </ul>

      {{ if eq .Params.paginate true }}
        {{ partial "page/pagination.tmpl" . }}
      {{ end }}
    {{ else }}
      <p>{{ i18n "PAGE_NO_PAGES" }}</p>
    {{ end }}
  </section>
{{ end }}

