<div>
  Powered by <a href="https://gohugo.io">Hugo</a>
</div>

<div class="copyright">
  Copyright &copy; {{ .Site.Params.copyright }}
</div>

<div>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    CC BY 4.0

    <!--
    <img alt="Creative Commons License" style="border-width:0"
         src="https://i.creativecommons.org/l/by/4.0/80x15.png"/>
    -->
  </a>
</div>

