<nav role="navigation" aria-label="primary-menu">
  <strong>
    <a href="{{ .Site.Home.Permalink }}">{{ .Site.Params.name }}</a>
  </strong>

  <ul class="menu">
    {{ range .Site.Params.menu }}
      <li class="menu-item">
        {{ if strings.HasPrefix .url "http" }}
          <a href="{{ .url }}" target="_blank"
             rel="noopener noreferrer">{{ .text }}</a>
        {{ else }}
          {{ $page := $.Site.GetPage (strings.TrimRight "/" .url) }}
          {{ $active := "" }}

          {{ if and (eq .url "/") $.IsHome }}
            {{ $active = "is-active" }}
          {{ else if and (ne .url "/") (hasPrefix $.Permalink $page.Permalink) }}
            {{ $active = "is-active" }}
          {{ end }}

          <a href="{{ $page.Permalink }}"
             class="{{ $active }}">{{ .text | default $page.Title }}</a>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>

{{ if .IsTranslated }}
  <nav role="navigation" aria-label="translation-menu">
    <ul class="translations">
      {{ range .Translations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>
  </nav>
{{ end }}

