{{ define "article-content-before" }}
  <aside class="article-sidebar">
    <div>
      {{ partial "page/aside.tmpl" . }}
    </div>
  </aside>
{{ end }}

{{ define "article-content" }}
  <section class="article-content markdown">
    <div>{{ .Content }}</div>

    {{ if ne .Params.autolist false }}
      <div class="serie-articles">
        {{ partial "get-refs.tmpl" . }}
        {{ $refs := .Scratch.Get "refs" }}
        {{ $slug := .Scratch.Get "refsSlug" }}

        {{ $pages := slice }}

        {{ range $refs.Pages }}
          {{ $weight := 999999 }}

          {{ if isset .Params "relsweight" }}
            {{ $weight = index .Params.relsweight $slug }}
          {{ end }}

          {{ $pages = $pages | append (dict "Page" . "Weight" $weight) }}
        {{ end }}

        {{ range sort $pages "Weight" }}
          {{ partial "page/card.tmpl" .Page }}
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}

{{ define "article-after-content" }}
  <section class="article-comments">
    {{ partial "page/comments.tmpl" . }}
  </section>
{{ end }}

