{{ define "article-content-before" }}
  <aside class="article-sidebar">
    <div>
      {{ partial "page/aside.tmpl" . }}
    </div>
  </aside>
{{ end }}

{{ define "article-content" }}
  <section class="article-content markdown">
    <div>{{ .Content }}</div>

    {{ if ne .Params.autolist false }}
      <div class="serie-articles">
        {{ partial "get-refs.tmpl" . }}

        {{ range .Scratch.Get "refs" }}
          {{ partial "page/card.tmpl" . }}
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}

{{ define "article-after-content" }}
  <section class="article-comments">
    {{ partial "page/comments.tmpl" . }}
  </section>
{{ end }}

