{{ define "article/content/after" }}
  <section class="page-list">
    {{ $pages := partial "get-pages.tmpl" . }}

    {{ if gt (len $pages) 0 }}
      {{ if eq .Params.paginate true }}
        {{ partial "page/pagination.tmpl" . }}
      {{ end }}

      <ul>
        {{ range $pages }}
          <li>{{ partial "page/card.tmpl" . }}</li>
        {{ end }}
      </ul>

      {{ if eq .Params.paginate true }}
        {{ partial "page/pagination.tmpl" . }}
      {{ end }}
    {{ else }}
      <p>{{ i18n "PAGE_NO_PAGES" }}</p>
    {{ end }}
  </section>
{{ end }}

