{{ $page := .Site.GetPage "/privacy" }}

<div class="privacy-alert">
  <div class="privacy-alert-header"><h2>{{ $page.Title }}</h2></div>
  <div class="privacy-alert-body markdown">{{ $page.Content }}</div>
</div>

