{{ $page := .Site.GetPage "/privacy" }}

<div class="privacy-alert">
  <div class="privacy-alert-header">{{ $page.Title }}</div>
  <div class="privacy-alert-body markdown">{{ $page.Content }}</div>
</div>

