{{ $sheets := slice }}
{{ $bundle := "css/bundle" }}

{{ $sheets = $sheets | append "vendor/normalize.css" }}
{{ $sheets = $sheets | append "css/markdown.css" }}
{{ $sheets = $sheets | append "css/highlight.css" }}
{{ $sheets = $sheets | append "css/main.css" }}

{{ if .IsHome }}
  {{ $bundle = printf "%s-home" $bundle  }}
  {{ $sheets = $sheets | append "css/home.css" }}
{{ else if gt (len .Pages) 0 }}
  {{ $bundle = printf "%s-list" $bundle  }}
  {{ $sheets = $sheets | append "css/list.css" }}

  {{ $suffix := .Type }}
  {{ $path := printf "css/list-%s.css" $suffix }}

  {{ if fileExists (printf "/assets/%s" $path) }}
    {{ $bundle = printf "%s-%s" $bundle $suffix  }}
    {{ $sheets = $sheets | append $path }}
  {{ end }}
{{ else if eq .Kind "page" }}
  {{ $bundle = printf "%s-single" $bundle  }}
  {{ $sheets = $sheets | append "css/single.css" }}

  {{ if ne .Type "custom" }}
    {{ $suffix := .Type }}
    {{ $path := printf "css/single-%s.css" $suffix }}

    {{ if fileExists (printf "/assets/%s" $path) }}
      {{ $bundle = printf "%s-%s" $bundle $suffix  }}
      {{ $sheets = $sheets | append $path }}
    {{ end }}
  {{ else }}
    {{ $bundle = printf "%s-custom" $bundle  }}

    {{ $suffix := replace (index (split .File ".") 0) "/" "-" }}
    {{ $path := printf "css/custom-%s.css" $suffix }}

    {{ if fileExists (printf "/assets/%s" $path) }}
      {{ $bundle = printf "%s-%s" $bundle $suffix  }}
      {{ $sheets = $sheets | append $path }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $bundle = printf "%s.css" $bundle  }}

{{ .Scratch.Set "sheets" $sheets }}
{{ .Scratch.Set "bundle" $bundle }}
{{ partial "import-styles.tmpl" . }}

