name: Site
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: CI
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up tools
        run: |
          wget -qO "/tmp/hugo.tar.gz" 'https://github.com/gohugoio/hugo/releases/download/v0.82.0/hugo_extended_0.82.0_Linux-64bit.tar.gz'
          tar -xf "/tmp/hugo.tar.gz" -C "/tmp/"
          sudo cp "/tmp/hugo" "/usr/bin/"
          #
          sudo yarn global add netlify-cli --prefix "/usr"

      - name: Get source code
        uses: actions/checkout@v2

      - name: Build
        run: make

      - name: Deploy
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: true # netlify deploy --prod --dir public

